#!/bin/bash

OS="{{- .chezmoi.os }}"

src_dir="$HOME/scripts/$OS"
dest_dir="$HOME/scripts"

cd "${src_dir}" || exit 1

find . -type f | while IFS= read -r file; do
  dest="$dest_dir/${file#./}"
  mkdir -p "$(dirname "$dest")"
  mv -f "$file" "$dest"
done

find . -type d -empty -delete
rmdir $src_dir 2> /dev/null || true
