#!/bin/bash

OS="{{- .chezmoi.os }}"

src_dir="$HOME/scripts/$OS"
dest_dir="$HOME/scripts"

if [ -d $src_dir ]; then
  echo "Moving everything from $src_dir to $dest_dir"
  mv $src_dir/* $dest_dir

  echo "Removing $src_dir"
  rmdir $src_dir 2>/dev/null || true
else
    echo "Source directory $src_dir does not exist."
fi
