$background: #1D001A;
$foreground: #FFC373;

* {
  all: unset;
} 

.bar {
  background: $background;
  color: $foreground;
  padding: 10px;
  margin: 15px;
}

.sidestuff {
  margin-left: 55px;
  padding-left: 50px;
}

